# Configuración de conexion a la bd
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_SCHEMA=proyecto_cabania

# Configuración de la aplicación
APP_URL=http://localhost
APP_DEBUG=true

# Configuración de email
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_PORT=465
